<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="feature-collection-sz">
  <div class="feature-collection">
    <div class="align-center">
      <h2 class="feature-collection__title y-h2 align-center">{{ section.settings.feature_collection_title }}</h2>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "feature-collection",
    "settings": [
      {
        "type": "text",
        "id": "feature_collection_title",
        "label": "Titre",
        "default": "Ecrivez votre titre"
      },
      {
         "type": "collection",
         "id": "feature_collection",
         "label": "Feature collection"
       },
      {
        "type": "range",
        "id": "number_items_row",
        "min": 2,
        "max": 5,
        "step": 1,
        "unit": "pc",
        "label": "Produits par lignes",
        "default": 3
      },
      {
        "type": "range",
        "id": "number_items_column",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "pc",
        "label": "Nombres de columnes",
        "default": 2
      }
    ],
      "presets": [
        {
          "name": "Feature Collection SZ",
          "category": "Collection"
        }
      ]
    }
  {% endschema %}
