<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="infinite-text">
  <div class="infinite-text">
    <div class="infinite-text__container relative">
      <h2 class="infinite-text__title absolute">
        <span class="infinite-text__text">{{ section.settings.text_infinite }}</span>
      </h2>
    </div>
  </div>
</section>

<style>
.infinite-text__text {
  animation-duration: {{ section.settings.text_speed }};
}
</style>


{% schema %}
  {
    "name": "infinite_text",
    "settings": [
      {
        "type": "richtext",
        "id": "text_infinite",
        "label": "Texte",
				"default" : "<p>Entrez votre texte</p>"
      },
			{
				"type": "range",
        "id": "text_speed",
        "min": 1,
        "max": 15,
        "step": 1,
        "unit": "sc",
        "label": "Vitesse de défilement du texte",
        "default": 5
			}
    ],
    "presets": [
      {
        "name": "Infinite-Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
