<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="mega-section">
  <div class="mega-section">
    {% for block in section.blocks%}
      {% case block.type %}
        {% when 'reassurance' %}
          {% include 'reassurance-mega-section' %}
        {% when 'alternate' %}
          {% include 'alternate-mega-section' %}
        {% when 'banner-content' %}
          {% include 'banner-mega-section' %}
        {% when 'featured-collection' %}
          {% include 'featured-collection-mega-section' %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Mega section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "reassurance",
      "name": "Reassurance",
      "settings": [
        {
          "id": "reassurance-title",
          "type": "text",
          "label": "Heading",
          "default": "Title"
        },
        {
          "id": "reassurance-text",
          "type": "richtext",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image1",
          "label": "Image1"
        },
        {
          "type": "text",
          "id": "reassurance-title1",
          "label": "Title1"
        },
        {
          "type": "text",
          "id": "reassurance-subtitle1",
          "label": "Subtitle1"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image2",
          "label": "Image2"
        },
        {
          "type": "text",
          "id": "reassurance-title2",
          "label": "Title2"
        },
        {
          "type": "text",
          "id": "reassurance-subtitle2",
          "label": "Subtitle2"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image3",
          "label": "Image3"
        },
        {
          "type": "text",
          "id": "reassurance-title3",
          "label": "Title3"
        },
        {
          "type": "text",
          "id": "reassurance-subtitle3",
          "label": "Subtitle3"
        },
        {
          "type": "select",
          "id": "alternate-margin-bottom-size",
          "options": [
            { "value" : "margin--0", "label": "Margin-bottom 0px"},
            { "value" : "margin--25", "label": "Margin-bottom 25px"},
            { "value" : "margin--50", "label": "Margin-bottom 50px"},
            { "value" : "margin--75", "label": "Margin-bottom 75px"}
          ],
          "label": "Container size"
        },
        {
          "type": "color",
          "id": "bg",
          "label": "Color Background"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color text"
        }
      ]
    },
    {
      "type": "alternate",
      "name": "Alternate",
      "settings": [
        {
          "type": "text",
          "id": "alternate-title-section",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "alternate-title",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "alternate-text",
          "label": "Texte"
        },
        {
          "type": "image_picker",
          "id": "alternate-image",
          "label": "Image"
        },
        {
          "type": "video_url",
          "id": "alternate-video_url",
          "label": "If you want a photo, let this to be empty",
          "accept": ["youtube", "vimeo"],
          "placeholder": "Video URL"
        },
        {
          "type": "checkbox",
          "id": "alternate-invert_section",
          "label": "Invert section"
        },
        {
          "type": "select",
          "id": "alternate-margin-bottom-size",
          "options": [
            { "value" : "margin--0", "label": "Margin-bottom 0px"},
            { "value" : "margin--25", "label": "Margin-bottom 25px"},
            { "value" : "margin--50", "label": "Margin-bottom 50px"},
            { "value" : "margin--75", "label": "Margin-bottom 75px"}
          ],
          "label": "Size of the margin-bottom"
        }
      ]
    },
    {
      "type": "banner-content",
      "name": "Banner content",
      "settings": [
      {
        "type": "select",
        "id": "banner-slider_height",
        "label": "Choisir la hauteur du slider",
        "options": [
          { "value" : "height--small", "label": "Petit"},
          { "value" : "height--normal", "label": "Normal"},
          { "value" : "height--full", "label": "Grand"}
        ]
      },
      {
        "type": "image_picker",
        "id": "banner-chevron_previous",
        "label": "Chevron slider precedent"
      },
      {
        "type": "image_picker",
        "id": "banner-chevron_next",
        "label": "Chevron slider suivant"
      },
      {
        "type": "image_picker",
        "id": "banner-image1",
        "label": "Images background 1"
      },
			{
        "type": "richtext",
        "id": "banner-subtitle1",
        "label": "Sous-titre 1",
				"default" : "<P>Ajoutez un sous-titre</p>"
      },
			{
        "type": "richtext",
        "id": "banner-richtext1",
        "label": "Text 1",
				"default" : "<p>Ajoutez un texte</p>"
      },
      {
        "type": "image_picker",
        "id": "banner-image2",
        "label": "Images background 2"
      },
			{
        "type": "richtext",
        "id": "banner-subtitle2",
        "label": "Sous-titre 2",
				"default" : "<P>Ajoutez un sous-titre</p>"
      },
			{
        "type": "richtext",
        "id": "banner-richtext2",
        "label": "Text 2",
				"default" : "<p>Ajoutez un texte</p>"
      },
      {
        "type": "image_picker",
        "id": "banner-image3",
        "label": "Images background 3"
      },
			{
        "type": "richtext",
        "id": "banner-subtitle3",
        "label": "Sous-titre 3",
				"default" : "<P>Ajoutez un sous-titre</p>"
      },
			{
        "type": "richtext",
        "id": "banner-richtext3",
        "label": "Text 3",
				"default" : "<p>Ajoutez un texte</p>"
      },
      {
        "type": "select",
        "id": "alternate-margin-bottom-size",
        "options": [
          { "value" : "margin--0", "label": "Margin-bottom 0px"},
          { "value" : "margin--25", "label": "Margin-bottom 25px"},
          { "value" : "margin--50", "label": "Margin-bottom 50px"},
          { "value" : "margin--75", "label": "Margin-bottom 75px"}
        ],
        "label": "Size of the margin-bottom"
      }
      ]
    },
    {
      "type": "featured-collection",
      "name": "Featured Collection",
      "settings": [
      {
        "type": "text",
        "id": "featured-collection_title",
        "label": "Titre",
        "default": "Ecrivez votre titre"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color text"
      },
      {
        "type": "collection",
        "id": "featured-collection",
        "label": "collection"
      },
      {
        "type": "select",
        "id": "alternate-margin-bottom-size",
        "options": [
          { "value" : "margin--0", "label": "Margin-bottom 0px"},
          { "value" : "margin--25", "label": "Margin-bottom 25px"},
          { "value" : "margin--50", "label": "Margin-bottom 50px"},
          { "value" : "margin--75", "label": "Margin-bottom 75px"}
        ],
        "label": "Size of the margin-bottom"
      }
      ]
    }
  ],
	"presets": [
		{
			"name": "Mega section",
			"category": "Custom"
		}
	]
}
{% endschema %}
